<nav class="navbar">
    <div class="brand-title"><a href="/">Livros</a></div>
    <div class="navbar-links">
        <ul>
            <li><a href="/users/login">Entrar</a></li>
            <li><a href="/users/register">Registrar</a></li>
        </ul>
    </div>
</nav>